<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-header">
      <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>
      <h1>Bienvenido</h1>
      <p>Reestablece tu contraseña</p>
    </div>

    <!-- Formulario -->

    <ion-item lines="outline" class="login-item">
      <ion-input
        type="password"
        label="Contraseña"
        labelPlacement="floating"
        placeholder="••••••••"
      >
      </ion-input>
    </ion-item>
    <ion-item lines="outline" class="login-item">
      <ion-input
        type="password"
        label="Confirma Contraseña"
        labelPlacement="floating"
        placeholder="••••••••"
      >
      </ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="login-btn">
      Reestablecer
    </ion-button>

    <!-- Link Registrarse -->
    <div class="register-link">
      <ion-text>¿Recordaste tu contraseña? </ion-text>
      <ion-text color="primary">
        <a (click)="goToSignIn()" style="cursor: pointer">Inicia Sesion</a>
      </ion-text>
    </div>
  </div>
</ion-content>
