<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-header">
      <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>
      <h1>Bienvenido</h1>
      <p>Registrate para continuar</p>
    </div>

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="signUp()">
      <ion-item lines="outline">
        <ion-input
          type="text"
          label="Nombre"
          labelPlacement="floating"
          placeholder="Hector"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="outline">
        <ion-input
          type="text"
          label="Apellidos"
          labelPlacement="floating"
          placeholder="Diaz Rodriguez"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="outline">
        <ion-input
          type="email"
          label="Email"
          labelPlacement="floating"
          placeholder="tucorreo@ejemplo.com"
        >
        </ion-input>
      </ion-item>
      <ion-item lines="outline">
        <ion-input
          [type]="hide ? 'password' : 'text'"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="••••••••"
        >
        </ion-input>
        <button (click)="hide = !hide"></button>
      </ion-item>
    </form>

    <ion-button expand="block" (click)="registerUser()" class="login-btn">
      Registarse
    </ion-button>

    <!-- Link Registrarse -->
    <div class="register-link">
      <ion-text>¿Ya tienes cuenta? </ion-text>
      <ion-text color="primary">
        <a (click)="goToSignIn()" style="cursor: pointer">Inicia Sesion</a>
      </ion-text>
    </div>
  </div>
</ion-content>
