<ion-header>
  <ion-toolbar>
    <ion-title>Cotizaciones entre dos fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="vistaSeleccionada" (ionChange)="segmentChanged()">
  <ion-segment-button value="lista">
    <ion-label>Listado</ion-label>
  </ion-segment-button>

  <ion-segment-button value="grafico">
    <ion-label>Gráfico</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-searchbar
      placeholder="Buscar divisa"
      [(ngModel)]="searchTerm"
      debounce="300"
      (ionInput)="filterCurrencies($event)"
    >
    </ion-searchbar>
  </ion-item>

  <ion-list
    *ngIf="showResults"
    style="
      max-height: 200px;
      overflow-y: auto;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
    "
  >
    <ion-item
      button
      *ngFor="let divisa of filteredDivisas"
      (click)="seleccionarDivisa(divisa)"
      [color]="divisaSeleccionada?.id === divisa.id ? 'primary' : ''"
    >
      <ion-label>
        <h2>{{ divisa.codigoMoneda }}</h2>
        <p>{{ divisa.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Fecha desde</ion-label>
    <ion-input
      type="date"
      [(ngModel)]="fechaDesde"
      [max]="fechaHasta || fechaActual"
      (ionChange)="validarFechas()"
    >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha hasta</ion-label>
    <ion-input
      type="date"
      [(ngModel)]="fechaHasta"
      [min]="fechaDesde"
      [max]="fechaActual"
      (ionChange)="validarFechas()"
    >
    </ion-input>
  </ion-item>

  <ion-button
    expand="block"
    class="ion-margin-top"
    (click)="buscarCotizaciones()"
  >
    Buscar
  </ion-button>

  <div [hidden]="vistaSeleccionada !== 'lista'">
    <ion-list class="ion-margin-top">
      <div *ngFor="let day of data?.results">
        <ion-item color="light">
          <ion-label>
            <h2 style="font-weight: bold">{{ day.fecha }}</h2>
          </ion-label>
        </ion-item>

        <ion-item *ngFor="let d of day.detalle">
          <ion-label>
            <h3>{{ d.codigoMoneda }} - {{ d.descripcion }}</h3>
            <p>Pase: {{ d.tipoPase }}</p>
            <p
              style="font-weight: 500; color: var(--ion-color-success, #2dd36f)"
            >
              Cotización: {{ d.tipoCotizacion }}
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div [hidden]="vistaSeleccionada !== 'grafico'">
    <div style="padding: 10px 0; height: 300px; position: relative">
      <canvas id="miGrafico"></canvas>
    </div>

    <ion-button
      [disabled]="disable"
      expand="block"
      fill="outline"
      shape="round"
      color="medium"
      class="ion-margin-top"
      (click)="descargarGraficoNativo()"
    >
      <ion-icon slot="start" name="share-social-outline"></ion-icon>
      Exportar Gráfico
    </ion-button>
  </div>
</ion-content>
